<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="D2FilterPicker.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <D2FilterPicker.MySettings>
            <setting name="LocalFilterPath" serializeAs="String">
                <value>C:\Program Files (x86)\Diablo II\ProjectD2\default.filter</value>
            </setting>
            <setting name="RemoteFilterList" serializeAs="String">
                <value>https://raw.githubusercontent.com/mik1893/D2FilterPicker/main/D2FilterPicker/filters.json</value>
            </setting>
            <setting name="LocalFilterList" serializeAs="String">
                <value>filters.json</value>
            </setting>
        </D2FilterPicker.MySettings>
    </userSettings>
</configuration>